
@font-face {
    font-family: 'pocket_calculatorregular';
    src: url('font/pockc___-webfont.woff2') format('woff2'),
         url('font/pockc___-webfont.woff') format('woff'),
         url('font/POCKC___.TTF') format('truetype');

    font-style: normal;

}

body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.sweet-loading{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}


* {
margin: 0;
padding: 0;
}

.click_tab{
    position: relative;
    height: 2%;

}

.trapezoid {
    border-top: 33px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin: 0 auto;
}
.trapezoid2 {
    border-bottom: 33px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: -33px;
}

ul{
    list-style-type: none;
    padding: 0;
    outline: none;
}
footer{
    position: relative;
    z-index: -1000;
}
header{
    background-image: url("assets/menu_pattern_1.png");
    transition: margin-top 0.15s ease-out;
    position: relative;
}
header.toggle{

    transition: margin-top 0.25s ease-out;

}

header h1{
    font-family: 'pocket_calculatorregular', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    height: 10%;
    display: inline-block;
    text-align: center;
    width: 100%;

}

.hidden{
    display: none;
}

@media only screen and (max-height: 400px) {
    header h1 {
        font-size: 2rem;
    }
}

.red{color:red;}

nav{
    height: 89%;
}

header div{outline: none;}

.click_handle{
    background-color: red;
    height: 2%;
}

ul li{
    background-color: orange;
}

ul > div{
    display: inline-block;
}

main{
    position:relative;
}

#canvas2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
      height: 100%;
}

    canvas#responsive-canvas {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
    }

div[class*="toggle-icon"]{
    display: inline-block;
    cursor: pointer;
}


div[class*="toggle-icon-symbol"]{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
  }

.tree-item-group {
  list-style-type: none;
  padding-left: 0;

}

.tree-item {
  padding: 0.75rem 1rem;

  color: white;
  background: none;
  /*border-bottom: 1px solid #ccc;*/
  box-shadow: none;
  z-index: unset;
  position: relative; }
  .tree-item--active {
    color: white; }
/*
   .tree-item--focused {
    box-shadow: 0 0 5px 0 #222;
    z-index: 999; }
*/

.search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%; }

/*countdown-timers    */
.countdown{
    position: absolute;
    display: flex;
    font-size: 2em;
    font-family: 'pocket_calculatorregular', Arial, sans-serif;
}

.time-wrapper{

}
.notice{

}
.countdown > div{

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .countdown{
        flex-direction: column;
        font-size: 1em;
    }
    .time-wrapper{

    }
}

