
@font-face {
    font-family: 'pocket_calculatorregular';
    src: url('font/pockc___-webfont.woff2') format('woff2'),
         url('font/pockc___-webfont.woff') format('woff'),
         url('font/POCKC___.TTF') format('truetype');
    
    font-style: normal;

}

body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}


* {
margin: 0;
padding: 0;
}

.click_tab{
    position: relative;
    
}

.trapezoid {
    border-top: 50px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin: 0 auto;
}
.trapezoid2 {
    border-bottom: 50px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: -37px;
}

ul{
    list-style-type: none;
    padding: 0;
    outline: none;
}
footer{
    position: relative;
    z-index: -1000;
}
header{
    border-bottom: 3px solid red;
    margin-top: -140px;
    background-image: url("assets/menu_pattern_1.png");
    transition: margin-top 0.15s ease-out;
    position: relative;
}
header.toggle{
    border-bottom: 3px solid red;
    margin-top: 0px;
    
    transition: margin-top 0.25s ease-out;
    
}

header h1{
    font-family: 'pocket_calculatorregular', Arial, sans-serif;
    font-size: 3rem;
    padding: 0.75rem 1rem;
    font-weight: 400;

}

.red{color:red;}

header div{outline: none;}

.click_handle{
    background-color: red;
    height: 10px;
}

ul li{
    background-color: orange;
}

ul > div{
    display: inline-block;
}



div[class*="toggle-icon"]{
    display: inline-block; 
    cursor: pointer;
}


div[class*="toggle-icon-symbol"]{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
  }

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
    
}

.tree-item {
  padding: 0.75rem 1rem;
  
  color: white;
  background: none;
  /*border-bottom: 1px solid #ccc;*/
  box-shadow: none;
  z-index: unset;
  position: relative; }
  .tree-item--active {
    color: white; }
/*
   .tree-item--focused {
    box-shadow: 0 0 5px 0 #222;
    z-index: 999; }
*/

.search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%; }
  
  