
@font-face {
    font-family: 'pocket_calculatorregular';
    src: url('font/pockc___-webfont.woff2') format('woff2'),
         url('font/pockc___-webfont.woff') format('woff'),
         url('font/POCKC___.TTF') format('truetype');
    
    font-style: normal;

}


* {
margin: 0;
padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    outline: none;
}

header{
    border-bottom: 3px solid red;

    
}

header h1{
    font-family: 'pocket_calculatorregular', Arial, sans-serif;
    font-size: 3rem;
    padding: 0.75rem 1rem;
    font-weight: 400;

}

header div{outline: none;}

.click_handle{
    background-color: red;
    height: 10px;
}

ul li{
    background-color: orange;
}

ul > div{
    display: inline-block;
}


.toggle-icon {
    display: inline-block; 
    cursor: pointer;
}
  .toggle-icon-symbol {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem; }

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
    
}

.tree-item {
  padding: 0.75rem 1rem;
  
  color: white;
  background: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative; }
  .tree-item--active {
    color: white; }
  .tree-item--focused {
    box-shadow: 0 0 5px 0 #222;
    z-index: 999; }

.search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%; }